@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-BoldItalic.woff2") format("woff2"),
    url("../fonts/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-MediumItalic.woff2") format("woff2"),
    url("../fonts/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-BlackItalic.woff2") format("woff2"),
    url("../fonts/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Thin.woff2") format("woff2"),
    url("../fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-LightItalic.woff2") format("woff2"),
    url("../fonts/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Italic.woff2") format("woff2"),
    url("../fonts/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-ThinItalic.woff2") format("woff2"),
    url("../fonts/Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.woff2") format("woff2"),
    url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff2") format("woff2"),
    url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;300;400;500;600;700;800;900&family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");
:root {
  --mainblue: #516eae;
  --mainyellow: #e7dd58;
  --Crimson: "Crimson Pro", serif;
  --Vibes: "Great Vibes", cursive;
}

#banner {
  height: auto;
  width: 100%;
}

.top_sec {
  /* padding: 10px; */
  background-color: #121010;
}
.bg_dark {
  background-color: #121010 !important;
}

.top_sec .container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.login_sec a {
  color: black;
  padding: 0px 10px;
  border-right: 1px solid black;
  text-decoration: none;
}

.login_sec a:hover {
  color: black;
  transition: all 0.5s;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

header a.nav-link {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

header ul.dropdown-menu {
  padding: 0pc 0;
  border-radius: 0;
  background-color: #ffffff;
}

header ul.dropdown-menu a {
  color: #000000d1;
  text-decoration: none;
}

header ul.dropdown-menu li {
  border-bottom: 1px solid #6666664f;
  padding: 10px 1pc;
  font-size: 17px;
  background-color: white;
  font-weight: 500;
}

header ul.dropdown-menu li:last-child {
  border: 0;
}

header ul.dropdown-menu li:hover {
  background-color: #4463a8;
  font-weight: 600;
}

header ul.dropdown-menu li:hover span {
  color: white;
  transition: all 0.5s;
}

.navbar-brand img {
  width: 150px;
  height: auto;
}

.right_icons i {
  padding: 10px;
  color: white;
}

.slider_one {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slider_main {
  /* height: 100%; */
  width: 100%;
  /* margin: auto; */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  color: #fff;
}

.nav_bar {
  color: white;
}

button.banner_button {
  border: none;
  background-color: #4463a8;
  padding: 8px 20px;
  color: white;
  border-radius: 30px;
  font-size: 23px;
}

.shoe_types {
  width: 50%;
  height: auto;
  position: relative;
}

.shoe_types .extra {
  background-color: rgba(0, 0, 0, 0.336);
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

section#second_sec {
  padding: 50px 0px 100px 0px;
  background-color: #331a1a0a;
}

.shoetype_main {
  display: flex;
  flex-wrap: wrap;
}

.shoetype_text {
  position: absolute;
  top: 20px;
  left: 20px;
}

.shoe_stypes_right_sec .main {
  border-radius: 10px;
  overflow: hidden;
}

.shoe_stypes_right_sec {
  padding: 10px;
  position: relative;
}

.shoe_stypes_right_sec .main img {
  border-radius: 10px;
}

section#shoping_for {
  padding: 50px 0px 100px 0px;
  background-color: #0000000a;
}

#shoping_for .container h3 {
  margin: 30px 0px;
  text-align: center;
}

.shoping_for {
  height: 250px;
  width: 100%;
  box-shadow: inset 1px 1000px 1px 1px #00000066;
  display: FLEX;
  justify-content: CENTER;
  align-items: center;
  color: white;
  transition: all 1s;
}

.men {
  background-image: url("./images/men_image.jpg");
  background-size: cover;
}

.women {
  background-image: url("./images/women.jpg");
  background-size: cover;
}

.kids {
  background-image: url("./images/kid.png");
  background-size: cover;
}

.heading {
  margin: 5px 0px !important;
  text-align: center;
  font-family: sans-serif;
}

#best_seller {
  padding: 70px 0px;
}

/* .seller_container_main {
width: 200px;
height: 200px;
background-color: rgba(0, 0, 0, 0.192);
} */

.best_seller_main {
  display: flex;
  flex-wrap: wrap;
}

.best_seller_container {
  /* margin: 10px; */
  /* width: 300px; */
  /* height: 1000px; */
  /* background-color: red; */
  height: fit-content;
  margin-bottom: 50px;
  border-radius: 5px;
  border: 1px solid #d3d3d36b;
}

#best_seller .best_seller_container {
  width: calc(25% - (10px));
  height: auto;
  margin: 0 0 1pc;
}

#best_seller .best_seller_main {
  justify-content: space-between;
}

.product_about {
  padding: 0pc 1pc 1pc;
}

.text_over {
  position: absolute;
  bottom: 50px;
  color: white;
  left: 65px;
}

.text_over h2 {
  border-bottom: 6px solid white;
}

.slider_two .container {
  padding-top: 80px;
}

button.banner_button_yellow {
  background-color: #f7ee59;
  border: none;
  border-radius: 30px;
  padding: 10px 15px;
  font-size: 18px;
}

.slider_two .container p {
  animation-delay: 0.5s;
}

.slider_two .container .banner_button {
  animation-delay: 1s;
}

.ratting {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.ratting i {
  color: orange;
  font-size: 13px;
}

button.shop_now {
  border: none;
  padding: 10px 15px;
  border-radius: 35px;
  font-weight: 500;
  margin-top: 10px;
}

#deails_ofday_banner {
  background-image: url("./images/deals\ of\ the\ day\ image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 500px 0px 0px #00000070;
  color: white;
  position: relative;
}

#shop_now_slider {
  height: auto;
  width: 100%;
  padding: 50px 0px 100px 0px;
}

p.off_text {
  position: absolute;
  top: 0;
  left: 50%;
  top: 50%;
  background-color: #ffeb3b;
  color: #4463a8;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: 50%;
  font-weight: 600;
}

section#secondsec_new {
  padding: 70px 0px;
  background-color: #0000000a;
}

section#secondsec_new img {
  object-fit: cover;
}

.col-sm-8.p-1.secondsec_left {
  max-height: 450px;
  overflow: hidden;
  position: relative;
}

.secondsec_right {
  max-height: 450px;
  overflow: hidden;
  position: relative;
}

.centerimage_sectwo {
  max-height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.overtext_leftimage {
  position: absolute;
  color: white;
  top: 200px;
}

.one {
  background-color: #ffffffc9;
  color: black;
  padding: 7px 25px;
  font-size: 20px;
  margin: 0;
}

button.shopnoew_secondsec {
  margin: 5px 0px;
  border: none;
  background-color: #ffffffc9;
  padding: 10px 15px;
  font-size: 20px;
}

.two {
  background-color: #ffffffc9;
  color: black;
  display: inline-block;
  font-size: 30px;
  padding: 10px;
  margin: 5px 0px;
}

.overtext_rightimage {
  position: absolute;
  top: 0;
  color: white;
  right: 0;
  direction: rtl;
  padding: 20px;
}

.hot_text {
  height: 70px;
  width: 70px;
  background-color: #5370b1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* direction: rtl; */
  margin: 20px 10px;
}

.overtext_center_one {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  height: 70px;
  width: 70px;
  background-color: #e7dd58;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  border-radius: 50%;
}

.overtext_center_two {
  position: absolute;
  margin: 20px;
}

button.claim_now_first {
  background-color: transparent;
  border: none;
  font-size: 25px;
  font-weight: 500;
  color: #5370b1;
}

.overtext_center_three {
  position: absolute;
  top: 0;
  margin: 20px;
  color: white;
}

.shoe_name {
  text-align: center;
  margin: 10px;
  border-bottom: 1px solid rgb(0 0 0 / 35%);
  padding: 10px;
  font-family: ui-monospace;
}

.new_arrival {
  position: absolute;
  top: 10px;
  color: black;
  padding: 2px;
  font-size: 20px;
  transform: rotate(321deg);
  left: -91px;
  width: 250px;
  text-align: center;
  background-color: #516eae;
  color: white;
  height: auto;
  box-shadow: -3px -3px 17px 0px rgb(0 0 0 / 23%);
  z-index: 2;
}

.seller_container_main {
  position: relative;
  overflow: hidden;
  /* max-height: 300px; */
  /* min-height: 300px; */
  /* background-color: red; */
}

.price_sec {
  display: flex;
  justify-content: space-between;
}

.cart_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart_icon i {
  font-size: 30px;
}

.discount {
  position: absolute;
  top: 10px;
  color: black;
  padding: 2px;
  font-size: 0px;
  /* transform: rotate(
321deg); */
  right: 10px;
  /* width: 250
px
; */
  text-align: center;
  background-color: #f8ed56;
  color: black;
  /* height: auto; */
  box-shadow: 1px 1px 17px 0px rgb(0 0 0 / 23%);
  z-index: 3;
  max-width: 80px;
  border-radius: 30px;
  padding: 7px;
}

.new_arrival p {
  margin: 0;
  line-height: 20px;
  font-size: 17px;
}

.discount p {
  margin: 0;
  font-size: 13px;
  line-height: 13px;
}

.best_seller_container_new {
  margin: 15px;
}

.logo_image {
  width: 165px;
  height: auto;
  object-fit: contain;
  padding: 12px 0px;
}

#footer {
  background-color: black;
}

section#footer a {
  text-decoration: none;
  color: #ffffff80;
  transition: all 0.5s;
}

.accordion-button:focus,
.form-control:focus {
  box-shadow: none !important;
}

section#footer a:hover {
  color: white;
  transition: all 0.5s;
}

.aboutstore_footer {
  color: white;
}

.col-sm-3.aboutstore_footer p {
  color: #858585;
}

.socialmedea_sec p {
  padding-left: 15px;
}

.socialmedea_sec {
  display: flex;
  align-items: flex-start;
}

.socialmedea_sec i {
  line-height: 1.5;
}

.contact_footer {
  color: white;
}

input.submit_footer {
  margin-left: -5 px;
  background-color: #4262aa;
  border: none;
  color: white;
  padding: 7px 10px;
  border-radius: 0px 5px 5px 0px;
  margin-left: -5px;
}

.footer_input {
  padding: 5px;
}

.footerextra i {
  padding-right: 25px;
  color: #898989;
}

.footer_links {
  color: white;
}

.col-sm-2.footer_links ul {
  list-style: none;
  padding: 0;
}

.col-sm-2.footer_links li {
  list-style: none;
  padding: 0;
}

.col-sm-2.footer_links li {
  list-style: none;
  padding: 0;
  padding: 10px;
  color: #898989;
}

.copy_right p {
  text-align: center;
  margin: 0;
  font-size: 12px;
  padding: 5px 0px;
  background-color: #4867ac;
  color: #ffffffb3;
}

.copy_right p a {
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: capitalize;
}

#dealsof_day {
  background-image: url("./images/deals\ of\ the\ day\ image.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  text-align: center;
  box-shadow: inset 0px 500px rgb(0 0 0 / 50%);
  padding: 50px 0px;
  position: relative;
}

.dealsof_day_text {
  color: white;
  padding: 30px 0px;
}

.dealsof_day_text_span {
  color: #f7ee59;
}

#dealsof_day_static {
  background-image: url("./images/StoreImage2.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  text-align: center;
  box-shadow: inset 0px 500px rgb(0 0 0 / 50%);
  padding: 50px 0px;
  position: relative;
}

.hurry_now {
  color: #ffffff30;
  font-size: 100px;
}

.before_deals_end {
  font-size: 30px;
  font-weight: 500;
  color: white;
}

.product_hover_effet {
  background-color: #00000026;
  color: white;
  position: absolute;
  bottom: -300px;
  width: 100%;
  /* display: none; */
  transition: all 1s;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.seller_container_main:hover .product_hover_effet {
  bottom: 0px;
}

.hover_icons i {
  padding: 10px 10px;
  color: white;
  font-size: 20px;
  background-color: black;
  margin-right: 5px;
}

.hover_icons i:hover {
  background-color: #4f6cab;
  color: white;
  transition: all 0.5s;
  transition-timing-function: linear;
  cursor: pointer;
}

.shoping_for.men:hover {
  background-image: url("./images/men_image.png");
  background-size: cover;
  transition: all 1s;
  cursor: pointer;
}

.women:hover {
  background-image: url("./images/women_shoe.png");
  background-size: cover;
  transition: all 1s;
  cursor: pointer;
}

.kids:hover {
  background-image: url("./images/kid_shoe.png");
  background-size: cover;
  transition: all 1s;
  cursor: pointer;
}

/* h3.heading::after {
  content: "";
  right: 35%;
  width: 190px;
  height: 5px;
  background-color: var(--mainblue);
  position: absolute;
  bottom: -10px;
} */

h3.heading {
  position: relative;
}

.transparent_shoe {
  height: 378px;
  position: absolute;
  top: -30px;
  left: 341px;
  animation-name: swinging;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: 50% 0;
  animation-timing-function: linear;
}

.slider_three {
  display: flex;
  align-items: center;
}

.banner_heading {
  max-width: 550px;
}

.slider_one h1 {
  font-size: 70px;
}

.footer-logo_sec {
  border-bottom: 1px solid #323232;
}

@keyframes swinging {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.shopsgaallery_hover {
  position: absolute;
  bottom: 0;
  color: white;
  z-index: -1;
  transition: all 1s;
  text-align: center;
}

.shoe_types:hover .shopsgaallery_hover {
  z-index: 1;
}

.slider_four {
  background-image: url("./images/banner_new_three.png");
  background-size: cover;
}

.seller_container_main:hover img.img-fluid.productimage_two {
  left: 0px;
  transition: all 1s;
  top: 0px;
}

img.img-fluid.productimage_two {
  position: absolute;
  transition: all 1s;
  left: 340px;
  top: 0px;
}

/* product page css */

.product_banner {
  background-image: url("./images/banner_new_three.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.big-image {
  height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#product_images {
  padding: 100px 0px 50px 0px;
}

.image_list {
  margin-bottom: 10px;
  border: 1px solid #0000004d;
  border-radius: 0px;
  max-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 150px;
}

.small_images ul.list-unstyled {
  list-style: none;
  padding-right: 0px;
  float: left;
}

p.current_price {
  font-size: 18px;
  font-weight: 500;
}

span.last_price {
  text-decoration: line-through;
  color: #00000085;
}

.product_discription {
  color: rgb(0 0 0 / 50%);
  margin: 20px 0px;
}

.quentity_count {
  border: none;
  border-bottom: 2px solid var(--mainblue);
  padding: 10px 10px;
  margin-right: -7px;
}

.quantity_submitbutton {
  background-color: var(--mainblue);
  border: none;
  color: white;
  border-radius: 5px;
  padding: 12px 31px;
  border-radius: 0px 5px 5px 0px;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

.wishlist_text {
  display: inline-block;
  padding-right: 15px;
  margin: 10px;
}

.social_share {
  width: 100%;
  border-top: 1px solid #00000033;
  margin-top: 30px;
}

.list_style {
  list-style: none;
  padding: 0;
  margin: 10px;
  color: rgb(0 0 0 / 50%);
}

.list_style li:first-of-type {
  color: black;
}

.list_style li {
  display: inline-block;
}

.product_color_types_div {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin: 10px 15px 10px 0px;
  border: 1px solid rgb(0 0 0 / 50%);
  box-shadow: 0px 0px 5px 0px #516eaf;
}

.product_size_types_div {
  /* width: 50px; */
  height: 50px;
  display: inline-flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0 0 0 / 50%);
  margin: 10px 15px 10px 0px;
  border-radius: 50%;
}

.tabcontent {
  float: left;
  padding: 0px 12px;
  border-top: 1px solid #ccc;
  width: 100%;
  border-left: none;
  height: auto;
  display: none;
  padding: 20px;
}

.tab button.active {
  background-color: var(--mainblue) !important;
  text-align: center;
  font-weight: 600;
  border-bottom: 1px solid black;
  color: white;
}

.tab button {
  background-color: inherit;
  color: black;
  padding: 12px 15px;
  width: auto;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  font-size: 17px;
  text-align: center;
}

.tab button:hover {
  background-color: #516eae80;
}

.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: white;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.listnone {
  list-style: none;
  padding: 0;
  color: rgba(0, 0, 0, 0.5);
}

#account_banner {
  padding: 40px 0px;
  background-image: url("./images/banner_new_three.png");
  background-size: cover;
}

.account_banner_div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 200px;
}

section#mainaccount_sec {
  margin: -60px 0px 50px 0px;
}

.account_list li {
  padding: 10px 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.list-unstyled.account_list .fa-user {
  width: 60px;
  height: 60px;
  background-color: var(--mainblue);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 50%;
  margin-top: -40px;
  color: white;
}

.right_account_details h4 {
  padding: 1pc 2pc;
  background-color: #f2f4f5;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
}

.user_details {
  list-style: none;
}

ul.user_details li {
  margin: 0 0 1pc;
  text-transform: capitalize;
  color: gray;
}

.user_details {
  list-style: none;
  text-align: left;
}

.right_account_details {
  background-color: #fdfdfd;
  box-shadow: 0px 0px 12px 0px #00000033;
  text-align: center;
}

.main_right_details {
  padding: 2pc 2pc;
}

ul.user_details li i {
  padding-right: 1pc;
  color: #424141;
}

.myorder .card {
  text-align: left;
}

.left_account_info {
  background-color: #f2f4f5;
  text-align: center;
  box-shadow: 0px 0px 12px 0px #00000033;
}

.account_list li:hover {
  background-color: #516eaf;
  color: white;
  cursor: pointer;
}

.account_list li:last-child {
  border-radius: 0px 0px 20px 20px;
  overflow: hidden;
}

.account_list li:first-child:hover {
  background-color: white;
  border-radius: 20px 20px 0px 0px;
  cursor: default;
}

ul.list-unstyled.account_list .fa-user:hover {
  cursor: pointer;
}

.text_right {
  text-align: right;
}

.table thead th {
  font-weight: 700;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.my-wishlist-table tr {
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.my-wishlist-table td {
  padding: 1pc 10px !important;
  font-size: 15px;
  color: black;
  text-transform: capitalize;
  font-weight: 500;
}

.my-wishlist-table thead {
  border-bottom: 1px solid black;
}

.wishlist_main {
  margin-top: 30px;
}

.my-wishlist-table td a {
  text-decoration: none;
  color: black;
}

address {
  margin-bottom: 1pc;
  font-style: normal;
  line-height: inherit;
  width: 100%;
  text-align: left;
}

.address-card-data .card {
  border: 1px solid rgb(224 224 224);
  text-align: left;
  border-radius: 0;
}

.address-card-data .card-body {
  padding: 1pc 2pc !important;
}

.address-card-actions button {
  border-radius: 0;
  padding: 6px 1.5pc;
}

.address-card-actions .btn-delete-address {
  background-color: #950000;
  color: white;
}

.address-card-actions .btn-edit-address {
  background-color: black;
  color: white;
  margin-right: 1pc;
}

.namein_addres {
  font-weight: 500;
}

button.btn-add-new-address {
  background-color: #4262aa;
  color: white;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 30px;
  border: none;
  font-weight: 500;
}

.myclass_tab {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding: 15px 40px;
  color: black;
  font-size: 15px;
  font-weight: 500;
  border-radius: 0 !important;
  width: 100%;
  background-color: #f2f4f5;
  border: 0px solid #e0e0e0;
  border-width: 0 0 1px;
  text-decoration: none;
}

.myclass_tab:hover {
  color: black;
}

.myclass_tab i {
  margin-right: 1pc;
}

.myclass_tab p {
  margin: 0;
}

.left_account_info li {
  list-style-type: none;
}

.nav-link:focus,
.nav-link:hover {
  color: #000000;
}

i.far.fa-user.accountuser {
  font-size: 23px;
  color: white;
  width: 70px;
  height: 70px;
  background-color: #4262aa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0;
}

.tab-active {
  background-color: white !important;
  border-width: 0 6px 1px 0 !important;
  border-right-color: #4262aa !important;
}

.user-account {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: auto;
}

.left_account_info ul {
  padding-top: 3pc;
}

/*  cart page css */

.cartmain {
  padding: 70px 0px;
  background-color: #f3f3f3;
}

.col-md-8.cart {
  padding: 30px 60px;
}

.add_input a {
  text-decoration: none !important;
  color: black !important;
  padding: 10px;
}

.col-md-4.summary {
  padding: 30px 15px;
}

#shipping {
  padding: 20px 10px;
}

#shipping select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

#shipping input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

.total_price.row {
  margin-right: 5px;
}

.cartsec_head {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 10px 20px;
}

span.cross {
  font-size: 23px;
}

section#cart_section {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 5555;
  background-color: white;
  width: 400px;
  right: -400px;
  transition: all 1s;
}

.cross {
  cursor: pointer;
}

.cart_icon_header {
  cursor: pointer;
}

.right_zero {
  right: 0px !important;
  transition: all 1s;
}

.back-to-shop i {
  color: black;
  padding: 10px 10px;
}

.code_apply {
  color: black;
  background-color: var(--mainyellow) !important;
  width: 35% !important;
  border-radius: 0px;
  /* margin: auto !important; */
  text-align: center;
}

.extra_center {
  text-align: center;
}

.col.text-right {
  text-align: right;
  margin-right: 20px;
}

.code_apply:hover {
  color: black;
  background-color: var(--mainyellow) !important;
  width: 35% !important;
  border-radius: 0px;
  /* margin: auto !important; */
  text-align: center;
}

.check_out {
  color: white;
  background-color: var(--mainblue) !important;
  padding: 10px 2pc;
  border-radius: 0;
  text-align: center;
  text-transform: capitalize;
}

.check_out:hover {
  color: white;
}

section#products_banner {
  padding: 20px 0px 20px 0px;
}

.products_filter_slider img {
  border-radius: 50%;
}

.products_filter_slider img:hover {
  border: 5px solid white;
  box-shadow: 0px 0px 15px #05050526;
}

.products_filter_slider {
  cursor: pointer;
  padding-top: 1pc;
}

#main_filtersec {
  height: auto;
  padding: 30px 0px;
}

.left_filter_div {
  height: auto;
}

.right_filter_div {
  height: auto;
}

.filter_lilst {
  list-style: circle;
}

.filter_lilst a {
  color: black;
  text-decoration: none;
}

.sublist {
  display: none;
}

li.main_list {
  text-transform: capitalize;
  margin: 10px;
  list-style-type: none;
}

li.main_list p {
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.sublist {
  padding-left: 20px;
}

ul {
  padding: 0;
}

.filter_lilst li:hover {
  color: var(--mainblue);
  cursor: pointer;
}

.color_filter_list {
  list-style-type: none;
  /* padding-left: 20px; */
}

.filter_color {
  width: 30px;
  height: 30px;
  margin: 5px;

  border-radius: 5px;
  border: 1px solid #a5a5a5;
}

.filter_color_red {
  background-color: red;
}

.filter_color_balck {
  background-color: black;
}

.filter_color_silver {
  background-color: silver;
}

.filter_color_white {
  background-color: white;
}

.color_filter_list li {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 10px 0px;
}

.right_filter_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.range-slider label {
  margin: 1pc 0;
}

.right_filter_div .filter_right_container {
  /* width: calc(33% - (8px)); */
  margin: 0 8px 1pc 0;
}

.size_filter_box {
  height: 40px;
  /* width: 40px; */
  display: grid;
  place-items: center;
  margin: 10px;
  cursor: pointer;
  border-radius: 7px;
}

.size_filter_main {
  display: flex;
  align-items: center;

  flex-wrap: wrap;
  /* padding: 10px; */
}

.size_filter_main > .size_filter_box {
  background-color: #c6c1c1;
}

.size_filter_main_col {
  display: flex;
  flex-direction: column;
  /* align-items: center; */

  flex-wrap: wrap;
  /* padding: 10px; */
}

.backgroun_filter_property {
  padding: 20px;
  background-color: #fefefe;
  margin-bottom: 15px;
  border-radius: 15px;
  margin-right: 7px;
  overflow-x: hidden;
  /* border-radius: 10px; */
  border: 1px solid #ced4da;
}

.filter_container_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.style_icons i {
  font-size: 25px;
  background-color: #516eaf;
  color: white;
  padding: 10px;
  margin: 5px;
}

.short_by {
  display: flex;
  align-items: center;
}

.short_by label {
  padding: 0px 10px;
}

.filter_slider_container {
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 20px;
}

.short_by select {
  width: 250px;
  border: none;
  border-bottom: 1px solid rgb(0 0 0 / 30%);
  border-radius: 0;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

.view_cart {
  border: 3px double white;
  background-color: #4463a8;
  padding: 10px 20px;
  text-transform: capitalize;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
}

.form-check-input {
  -webkit-appearance: none;
  border-radius: 0 !important;
  height: 15px;
  width: 15px;
  border: 1px solid #c8c8c8 !important;
}

div#address-option .form-check {
  margin-bottom: 12px;
}

div#address-option .form-check-label p {
  font-size: 15px;
  font-weight: 500;
}

div#address-option .model_signin {
  padding: 1pc;
}

.form-check-input:focus {
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: #4462af;
  border-color: #4462af;
}

.add_input a {
  border: 1px solid #dee2e6;
}
.add_input span {
  border: 1px solid #dee2e6;
  text-decoration: none !important;
  color: black !important;
  padding: 10px;
}
.cart-item .close {
  cursor: pointer;
}

.cart-item img {
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: all 0.5s;
}

.cart-item-img {
  width: 90px;
}

.cart-item:hover img {
  transform: scale(1.1);
  transition: all 0.5s;
}

.cart-content {
  margin-left: 1pc;
}

.view_cart:hover {
  color: white;
}

.cart-img img {
  width: 56%;
  height: auto;
  object-fit: contain;
}

.cart-img {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 100%;
}

.cart_overlay {
  width: 100%;
  height: 100vh;
  background-color: rgb(0 0 0 / 30%);
  position: fixed;
  top: 0;
  z-index: 11;
  display: none;
}

.display_block {
  display: block !important;
}

.model_close {
  position: absolute;
  top: -1pc;
}

.model_close:focus {
  box-shadow: none !important;
}

.model_logo_div {
  background-color: black;
  border-bottom: 8px solid var(--mainblue);
}

img.model_logo {
  height: 100px;
}

.model_signin {
  padding: 1pc 0px 0;
}

.model_signin .form-control {
  width: 80%;
  padding: 10px 15px;
  margin: 0 auto 10px;
  border-radius: 0;
  border: 1px solid #00000033;
}

.model_signin p {
  font-size: 23px;
}

a.forgot_password {
  border: none;
  text-align: left;
  padding: 0px 0px 1pc 50px;
  color: rgb(0 0 0 / 50%);
}

.login-form.modal.show .modal-dialog {
  transform: none;
}

.sign_in {
  background-color: #fce869;
  border: none !important;
  border-radius: 30px;
  width: 180px !important;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.search_nav_input {
  border-radius: 30px;
  border: none;
  width: 0;
  padding: 0;
  transition: all 1s;
}

.search_input_div {
  display: inline-block;
  width: 160px;
  text-align: right;
}

.search_baropen {
  padding: 10px 15px;
  font-size: 14px;
  width: 100%;
  transition: all 1s;
}

.register_now {
  font-size: 16px !important;
  color: rgb(0 0 0 / 70%);
  /* border: none !important; */
  font-family: cursive;
}

.register_now a {
  border: none;
}

.register_now a:hover {
  border: none;
}

form.register_form {
  display: none;
}

.display_none {
  display: none;
}

section#about_firstsec {
  padding: 40px 0px;
}

.about_points {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about_points_main {
  width: 50%;
  padding: 20px 10px;
}

section#service_secabout {
  padding: 100px 0px;
}

.service {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #c3c3c291;
  padding: 2pc 1.3pc;
}

.service a.ti-truck i {
  margin-right: 1pc;
}

.service-info p {
  color: gray;
  margin: 5px 0 0;
}

.service-info h4 {
  font-size: 22px;
}

a.ti-truck i {
  color: #4d68aa;
  font-size: 35px;
}

#banner_about {
  width: 100%;
  height: 550px;
  background-image: url("./images/FinalLogo2.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 50px 0px 100px 0px;
}

section#about_firstsec p {
  /* font-family: "Crimson Text", serif; */
  font-size: 16px;
}

.about_left {
  background-image: url("./images/about_left.png");
  background-size: cover;
  height: 600px;
  width: 100%;
  box-shadow: inset 0px 1000px 0px 0px #00000059;
}

section#aboutlast_sec {
  padding: 50px 0px 70px 0px;
}

.stunning_collection {
  color: white;
}

h3.stunning_collection::after {
  content: "";
  width: 200px;
  height: 4px;
  background-color: white;
  position: absolute;
  bottom: 16px;
  left: 21%;
}

h3.stunning_collection {
  text-align: center;
  padding: 30px 0px;
  position: relative;
}

.about_left ul {
  padding: 10px 30px;
  color: white;
}

.about_left li {
  padding: 10px;
  font-size: 17px;
}

button.about_stunning {
  border: none;
  padding: 10px 15px;
  color: white;
  background-color: #4262aa;
  font-size: 18px;
}

.mapframe {
  width: 100%;
  height: 500px;
}

section#contact_firstsec {
  margin: 30px 0px 70px 0px;
}

section#last_about {
  margin: 20px 0px 70px 0px;
}

.about_last_main i {
  font-size: 40px;
  color: var(--mainblue);
}

section#contact_form {
  padding: 50px 0px;
  background-color: #f5f5dc66;
}

.contact_info_main i {
  padding-right: 20px;
}

.contact_info_main {
  display: flex;
  /* justify-content: space-between; */
}

.contact_info_main a {
  color: black;
  text-decoration: none;
}

.contact_from1 input,
.contact_comment {
  width: 80%;
  margin: 15px 0px;
  padding: 7px 15px;
  background-color: white;
  border: 1px solid #acacac40;
  border-radius: 0;
}

.contact_from1 .send_message {
  background-color: black !important;
  color: white;
}

input:focus-visible,
textarea:focus-visible,
button:focus-visible {
  outline: 0 !important;
}

::placeholder {
  text-transform: capitalize;
}

input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0 !important;
  transition: all 0.5s;
}

.social_icon_contact {
  margin: 20px 0px;
}

.social_icon_contact i {
  font-size: 25px;
  height: 50px;
  width: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 1s;
}

.social_icon_contact i:hover {
  cursor: pointer;
  background-color: var(--mainblue);
  color: white;
}

.headoffice {
  color: var(--mainblue);
  margin: 20px 0px;
}

#offlinestores_contact {
  padding: 50px 0px 70px 0px;
}

.offlinestore_locations {
  background-color: var(--mainblue);
  color: white;
  text-align: center;
  border-radius: 0px 0px 20px 20px;
}

.about_last_main {
  padding: 20px;
}

.offlinestore_locations i {
  background-color: white;
  color: black;
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border-radius: 50%;
  margin-top: -20px;
}

.offlinestore_locations_text {
  padding: 20px;
}

.send_message {
  border: none !important;
  background-color: #f7ee59 !important;
  padding: 10px 20px !important;
  border-radius: 30px;
  display: inline-block;
  width: 25% !important;
}

.pages {
  position: relative;
}

.pages_dropdown {
  display: none;
  position: absolute;
}

.pages:hover .pages_dropdown {
  display: block;
}

.client .owl-dots {
  display: none;
}

section#client_slider {
  padding: 0px 0px 70px 0px;
}

.client_image_div {
  height: auto;
  width: 150px;
}

/* faqs */

.headingnew {
  text-align: center;
  margin: 50px 0px;
  position: relative;
}

.headingnew:after {
  content: "";
  position: absolute;
  width: 85px;
  height: 5px;
  background-color: var(--mainblue);
  bottom: -12px;
  /* left: 36pc; */
}

.faq_first_div {
  margin: 70px 0px;
}

.accordion-button::after {
  background-image: url("https://cdn0.iconfinder.com/data/icons/very-basic-2-android-l-lollipop-icon-pack/24/plus-512.png");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("https://iconsplace.com/wp-content/uploads/_icons/ffffff/256/png/minus-2-icon-18-256.png");
}

.faq_text {
  border: none !important;
  margin-bottom: 1pc;
}

button.accordion-button.collapsed {
  border: 1px solid rgb(207 206 206 / 50%);
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: var(--mainblue);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-body {
  background-color: rgb(239 239 239 / 40%);
}

.question_one {
  width: 45%;
  height: auto;
}

i.fas.fa-search {
  cursor: pointer;
}

section#notfound {
  margin: 70px 0px;
  text-align: center;
}

.back_to_home {
  padding: 10px 15px;
  background-color: var(--mainblue);
  color: white;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  font-weight: 500;
}

section#notfound h2 {
  font-size: 40px;
  margin: 25px 0px;
}

.back_to_home:hover {
  padding: 10px 15px;
  background-color: var(--mainblue);
  color: white;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  font-weight: 500;
}

section#notfound p {
  color: rgb(122 122 122);
}

#privacy_policy_banner {
  background-image: url("./images/policy_three.png");
  text-align: center;
  background-size: cover;
  background-position: top;
  padding: 70px;
  color: white;
}

#privacy_policy_banner {
  background-image: url("./images/policy_three.png");
  text-align: center;
  background-size: cover;
  background-position: top;
  padding: 70px;
  color: white;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 500px 0px 0px rgb(0 0 0 / 50%);
}

section#privacy_policy_main {
  margin: 20px 0px 70px 0px;
}

.owl_two .owl-dots {
  display: none;
}

@media (min-width: 1200px) {
  #mainaccount_sec .container {
    max-width: 1275px;
  }
}

@media (max-width: 580px) {
  .footer_links {
    margin-left: 0;
  }
  .transparent_shoe {
    left: 0;
  }
  .login_sec {
    font-size: 13px;
  }
  .heading {
    margin: 1em !important;
  }
  #main_filtersec {
    padding: 0;
  }
  section#products_banner,
  section#product_images,
  #shop_now_slider,
  section#second_sec {
    padding: 10px;
    margin-top: 10px;
  }
  .big-image {
    height: auto;
  }
  .product_banner {
    height: 300px;
  }
}

.dropdown-item:hover {
  background-color: #4463a8;
  color: white;
}

section#view_order h4 {
  border-bottom: 1px solid #ced4da;
  padding-bottom: 1pc;
  margin-bottom: 1pc;
}

.my-order {
  background-color: #f9f9f9;
}

section#view_order {
  padding: 50px 0;
}

section#order_total {
  padding: 0 0 50px;
}

section#order_table .main_right_details.myorder,
section#order_table .main_right_details.myorder .card-header {
  background-color: white;
}

section#order_table .main_right_details.myorder .card {
  border-radius: 0;
}

.order-price {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
}

.order_total_inner {
  background-color: white;
  padding: 2pc 2pc;
}

section#order_table {
  margin-bottom: 1pc;
}

.order_total_inner li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.order_total_inner li:last-child {
  margin: 2pc 0 0;
  border: 1px solid #ced4da;
  border-width: 1px 0;
  padding: 10px 0px;
}

.order-subheading {
  font-weight: 500;
}

section#view_order li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: 500;
}

section#view_order li:last-child {
  margin: 0;
}

section#view_order span {
  color: gray;
  font-weight: normal;
}

.order-address .order-subheading {
  margin-bottom: 5px;
}

/* custom modal */

.custom-modal-shown {
  display: block;
  opacity: 1;
  z-index: 10;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.custom-modal-body {
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.custom-modal-hidden {
  display: none;
  opacity: 0;
  z-index: -10;
}

.price_range_value {
  font-size: 14px;
}

.swiper-button-next {
  position: relative;
  right: -20px;
}

.strikethrough {
  position: relative;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;

  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-25deg);
}
/* nav dropdown */

.nav-dropdown {
  width: 100vw;
  /* min-width: 100%; */
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  color: white;
  position: absolute;
  z-index: 10;
  padding: 3em 15em 1em;
  left: 0;
  /* margin-top: 2em; */
  /* border-top: 1px solid white; */
  justify-content: space-between;
  /* transition: all 5s !important; */
}
.nav-dropdown ul {
  list-style: none;
}
.nav-item:hover {
  /* position: relative; */
  /* border-bottom: 1px solid white; */
}
.dropdownMenuList span {
  color: gray;
}
.dropdownMenuList li:hover {
  color: #c16452;
  cursor: pointer;
}
.sliderClass .rsis-image {
  background-size: contain !important;
  background-repeat: no-repeat;
}

/* custom navbar */

.custom-navbar {
  /* height: 120px; */
  background-color: #121010;
}
.navbar_logo {
  height: 50px;
  width: 100px;
}
.headingMain {
  font-family: "Montserrat";
  font-weight: 600;
  text-decoration: double;
  text-decoration-color: #000000;
  margin-bottom: 10px;
  text-align: start;
}

.bottomLine {
  height: 1px;
  width: 10vw;
  /* margin-bottom: 5px; */
  background-color: #dfab07;
}

.navbar_text {
  color: #fff;
  font-size: 18px;
  font-family: "Montserrat";
  margin-left: 10px;
  font-weight: 400;
  cursor: pointer;
}
.slider-viewall {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 500;
  color: #4464ac;
  cursor: pointer;
}
.footer-downloadtext {
  font-family: "Montserrat";
  font-weight: 400;
}
.newsletterDiv {
  background-image: url("./images/shoe_image_for_bannerthree.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  z-index: -1 !important;
  border-radius: 5px;
  background-repeat: no-repeat;
  margin-bottom: 100px;
  position: absolute;
}
.backgroundBackDiv {
  position: relative;
  height: 400px;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.8);
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #f87da9;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.loginContainer {
  height: 400px;
  border: 0.5px solid #000;
}

.mainBenifitsContainer {
  /* border: 1px solid #999999; */
  /* border-radius: 5px; */
  padding: 10px;
}
